#nav {
    width: 300px;
    background: gray;
}

.title {
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 33px;
    /*background: red;*/
    /*颜色，图片，图片位置，平铺方式*/
    background: red url("../images/D.png") 270px 10px no-repeat;
}

/*
ul {
    background: gray;
}
*/

ul li {
    height: 30px;
    /*
    list-style
    none 去除圆点
    circle 空心圆
    decimal 有序列表
    square 正方形
    */
    list-style: none; /*去除前面的点*/
    text-indent: 1em;
    background-image: url("../images/R.png");
    background-repeat: no-repeat;
    background-position: 236px 2px;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: black;
}

a:hover {
    color: orange;
    text-decoration: underline;
}