[Unit]
Description=Run screen-capture every 10 seconds

[Timer]
# 用户登录 30 秒后开始第一次
OnStartupSec=30s
OnUnitActiveSec=10s
AccuracySec=1s
Unit=screen-capture.service

[Install]
WantedBy=timers.target
